<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.walker.ui">

    <application
        android:label="@string/ui_app_name"
        android:theme="@style/UiTheme">
        <activity
            android:name=".activity.UiMainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
